<html lang="en-US">
<head>
     <meta charset="utf-8"/>
     <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}"/>
     <link rel="canonical" href="{{ page.redirect.to }}"/>
     <script type="text/javascript">window.location.href = "{{ page.redirect.to }}"</script>
     <title>Page Redirection</title>
</head>
<body><p>
If you are not redirected automatically, follow <a href='{{ page.redirect.to }}'>this link</a>. Click <a href='{{ page.url }}'>here</a> to get back.
</p></body>
</html>

